/* @font-face {
  font-family: Roboto-Medium;
  src: url(../fonts/Roboto/static/Roboto-Medium.ttf);
}

@font-face {
  font-family: Roboto-Bold;
  src: url(../fonts/Roboto/static/Roboto-Bold.ttf);
} */


@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto/static/Roboto-Medium.ttf);
}

@font-face {
  font-family: Roboto;
  font-weight: bold;
  src: url(../fonts/Roboto/static/Roboto-Bold.ttf);
}

@font-face {
  font-family: Roboto;
  font-weight: bold;
  font-style: italic;
  src: url(../fonts/Roboto/static/Roboto-BoldItalic.ttf);
}

@font-face {
  font-family: Roboto;
  font-weight: 100;
  src: url(../fonts/Roboto/static/Roboto-ExtraLight.ttf);
}